html {
    font-size: 16px; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    background-color: #0e11c271; 
}
header {
    background-color: rgba(0, 130, 63, 0.6);
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

main {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

body > p {
    text-align: center;
    margin: 1rem 0 2rem;
}

.full-width-chart {

    max-width: 1200px;       
    margin: 0 auto 2rem;    
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.full-width-chart h2 {
    font-size: 1.25rem;
    text-align: center;
}


.chart-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 2rem;
}

.chart-item {
    width: 90%;
    max-width: 55rem; 
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-item h2 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1rem;
}
