body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: #0e11c271;}
header {
  background-color: #00823f98;
  padding: 1rem 2rem;
  color: #fff;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}
header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}
header nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

section {
  margin-bottom: 3rem;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  margin-bottom: 2rem;
}
.project-card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}
.project-card div {
  padding: 1rem;
}
.project-card h3 {
  margin-top: 0;
}
.project-card a {
  color: #6A5ACD;
  font-weight: bold;
  text-decoration: none;
}
.project-card a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background: #eee;
  margin-top: 4rem;
}

.full-width-chart {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px; 
}

.full-width-chart h2 {
    font-size: 1.2em;
    text-align: center;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
}

.chart-item {
    flex: 1 1 600px; 
    max-width: 800px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.chart-item h2 {
    font-size: 1.2em;
    text-align: center;
}